*{
    padding: 0;
    margin: 0;
}
.image{
    margin-top: 3%;
    border-bottom: #DDDDDD 1px solid;
    padding-bottom: 3%;
}
.caption{
    margin-top: -1%;
    border-bottom: #DDDDDD 1px solid;
    padding-bottom: 3%;
}
.btn1{
    padding: 5px 7px;
    text-align: center;
    border-radius:5px;
    border:1px solid #BFBFBF;
}
.btn1:hover{
    background-color: #B0B0B0;
}
.btn2{
    padding: 5px 7px;
    text-align: center;
    background-color: #F1393A;
    border-radius:5px;
    border:1px solid #BFBFBF;
}
.btn2:hover{
    background-color:#E42A27;
}

